{% extends "dash-block.html" %}
{% block content %}
<div>
    <ul class="nav admin-nav">
        <li class="nav-item">
            <a class="nav-link" href={{url_for('admin')}}>Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{url_for('adminFiles')}}>Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href={{url_for('adminComments')}}>Comments</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tasks
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/admin/tasks/Weekly">Weekly</a></li>
                <li><a class="dropdown-item" href="/admin/tasks/Monthly">Monthly</a></li>
                <li><a class="dropdown-item" href="/admin/tasks/Quarterly">Quarterly</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link " href={{url_for('logout')}}>Logout</a>
        </li>
        

    </ul>
</div>


<style>


</style>
{% block admincontent %}{% endblock %}


{% endblock %}