{% extends "admin-block.html" %}
{% block admincontent %}
<div class="container profile" id="app">
    <form action="/UpdateUser" method="POST">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    {% if result[0][-1] %}
                                    <img src="{{result[0][-1]}}">
                                    {% else %}
                                    <img
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png">
                                    {% endif %}
                                </div>
                                <h5 class="user-name">{{result[0][3]}} {{result[0][4]}}</h5>
                                <h6 class="user-email">{{result[0][1]}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <form action=""></form>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="hidden" name="id" value='{{result[0][0]}}'>
                                    <input type="hidden" name="type" value='admin'>
                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                        placeholder="Enter first name" value="{{result[0][3]}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName"
                                        placeholder="Enter last name" value="{{result[0][4]}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="phone" class="form-control" id="phone" placeholder="Enter phone number"
                                        name="PhoneNumber" v-model=phone v-on:keyup="checkPhoneNumber">
                                    <span v-if='!phoneStatus' style="color: red;">Invalid Phone number</span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Enter email"
                                        name="Email" value="{{result[0][1]}}" readonly>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">position</label>
                                    <select name="Position" class="form-select" aria-label="Default select example"
                                        id="Position">
                                        {% for position in positions %}
                                        {% if position[0] == result[0][6] %}
                                        <option value={{position[0]}} selected>{{position[1]}}</option>
                                        {% else %}
                                        <option value={{position[0]}}>{{position[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <!-- <input type="hidden" class="form-control" id="email" placeholder="Enter email"
                                        name="Position" value="{{result[0][6]}}" readonly> -->
                                </div>
                            </div>
                        </div>

                        <div class="row gutters button-container">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href={{url_for('admin')}}><button type="button" id="submit" name="submit"
                                            class="btn btn-secondary">Cancel</button></a>


                                    <button type="submit" id="submit" name="submit" class="btn btn-primary"
                                        :disabled="!phoneStatus">Update</button>
                                    <!-- <a href={{url_for('admin')}}><button type="button" id="submit" name="submit"
                                            class="btn btn-warning reset-password">Reset Password</button></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
    integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            phone: 0,
            phoneStatus: false
        },
        methods: {
            handleFileUpload(event, id) {
                console.log('test', event.target.files[0])
                console.log('id', id)
                let formData = new FormData();
                formData.append('file', event.target.files[0]);
                formData.append('id', id);
                console.log(formData)
                // const formData = {file: event.target.files[0], id:id}

                this.$http.post('/uploadprofilepic', formData).then(response => {
                    console.log(response)
                    location.reload();
                }).catch((e) => console.log(e))

            },
            checkPhoneNumber() {
                phone = this.phone
                if (phone.length === 13 && this.isNum(phone) && phone.startsWith("+63")) {
                    this.phoneStatus = true
                } else {
                    this.phoneStatus = false
                }
            },
            isNum(val) {
                return !isNaN(val)
            }



        },
        mounted() {
            this.phone = "{{result[0][5]}}"
            this.checkPhoneNumber()
        },
    }
    )
</script>

<style>
    body {
        margin: 0;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

    .account-settings .user-profile .user-avatar img {
        width: 150px;
        height: 150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p {
        font-size: 0.825rem;
    }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }

    .form-group {
        padding-top: 15px
    }

    .row.gutters.button-container {
        padding-top: 15px;
    }

    .container.profile {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        height: 87vh;

    }

    .reset-password {
        float: right;
    }
</style>
{% endblock %}