{% extends "admin-block.html" %}
{% block admincontent %}
<div id="admin">
  <div class="admin-container">
    <div class="title-container">
      <h3>Comments</h3>

    </div>
    <!-- <div class="input-group mb-3 seach-bar">
        <input type="text" class="form-control" placeholder="File name"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="userid">Comment ID#</th>
          <th scope="col">Commented by</th>
          <th scope="col">On File ID</th>
          <th scope="col">Date Commented</th>
          <th scope="col" class="comment-col">Comment</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in results %}
        <tr>
          <th scope="row">{{ comment[0] }}</th>
          {% for user in users %}
          {% if user[0] == comment[2] %}
          <td>{{ user[3] }} {{user[4]}}</td>
          {% endif %}
          {% endfor %}
          <!-- <td><button type="button" class="btn btn-primary "><a class='view-file-btn' href="/file/{{ comment[1] }}">View File
                FILE {{comment[1]}}</a> </button></td> -->
          <td>FILE {{comment[1]}}</td>
          <td>[[ getDateString({{comment[3]}}) ]]</td>
          <td class="comment-col">{{ comment[4] }}</td>
          <td><button type="button" class="btn btn-danger"  v-on:click='deleteComment({{comment[0]}})'>Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
  integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var app = new Vue({
    el: '#admin',
    delimiters: ['[[', ']]'],
    data: {
      passWarning: true,
      RepassWarning: true,
      pass: '',
      RepeatPass: ''
    },
    methods: {
      getDateString(dateValue) {
        var d = new Date(dateValue * 1000);
        d = d.toDateString()
        d = d.slice(0, 26)
        return d
      },
      deleteComment(commentID) {
                this.$http.get(`/comment/delete/${commentID}`).then(response => {
                  location.reload();

                }).catch((e) => console.log(e))
            },
    },
    mounted() {
    },
  }
  )
</script>

<style>
  .comment-col {
    max-width: 400px;
  }

  .view-file-btn {
    color: white !important;
  }
</style>
{% endblock %}