{% extends "dash-block.html" %}
{% block content %}
<div>
    <ul class="nav admin-nav">
        <li class="nav-item">
            <a class="nav-link" href={{url_for('admin')}}>Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{url_for('adminFiles')}}>Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{url_for('adminThrash')}}>Trash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href={{url_for('adminComments')}}>Comments</a>
        </li>
    </ul>
</div>


<style>


</style>
{% block admincontent %}{% endblock %}


{% endblock %}