{% extends "dash-block.html" %}
{% block content %}
<div id="app">
  <div class="cards-container">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; width: 100%;">
      <div class="card-header">Info</div>
      <div class="card-body">
        <h5 class="card-title">Files Uploaded</h5>
        <p class="card-text big-number-text">0</p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem; width: 100%;">
      <div class="card-header">Success</div>
      <div class="card-body">
        <h5 class="card-title">Files Passed</h5>
        <p class="card-text big-number-text">0</p>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem; width: 100%;">
      <div class="card-header">Failed</div>
      <div class="card-body">
        <h5 class="card-title">Failed Deadline</h5>
        <p class="card-text big-number-text">0</p>
      </div>
    </div>
    <div class="card text-dark bg-warning mb-3 " style="max-width: 18rem; width: 100%;">
      <div class="card-header">Warning</div>
      <div class="card-body">
        <h5 class="card-title">Nearing Deadline</h5>
        <p class="card-text big-number-text">0</p>
      </div>
    </div>
  </div>
  <div>
    <div class="container px-4 info-container">
      <div class="row gx-5 info">
        <div class="col ">
          <div class="p-4 border bg-light">
            <h3 class="wbtn">Recently Uploaded Files</h3>
            <button type="button" class="btn btn-primary btn-add float-right" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Upload New File
            </button>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">File Name</th>
                  <th scope="col">Uploaded By</th>
                  <th scope="col">Deadline</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col ">
          <div class="p-4 border bg-light">
            <h3 class="wbtn">Files Nearing Deadlines</h3>
            <button type="button " class="btn btn-primary float-right">VIEW FILES</button>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">File Name</th>
                  <th scope="col">Uploaded By</th>
                  <th scope="col">Deadline</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
                <tr>
                  <td>Filename.ppt</td>
                  <td>John Doe, Teacher</td>
                  <td>10-20-21</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload New File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/uploadfile" method='POST' enctype="multipart/form-data">
        <div class="modal-body">

          <div class="mb-3">
            <label for="file" class="form-label">File</label>
            <input type="file" class="form-control" name="file" id="file" aria-describedby="file" required>
          </div>
          <div class="mb-3">
            <label for="Position" class="form-label">Share to Group</label>
            <select name="Position" class="form-select" aria-label="Default select example" id="Position">
              {% for position in positions %}
              <option value={{position[0]}}>{{position[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="targetUser" class="form-label">Share to</label>
            <input type="text" class="form-control" id="targetUser" name="targetUser" required>
            <small id="emailHelp" class="form-text text-muted">Use email Address to tag the user seperate with comma(,)</small>
          </div>
          <div class="mb-3">
            <label for="Deadline" class="form-label">Deadline</label>
            <input type="date" class="form-control" name="Deadline" id="Deadline" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" value="submit" class="btn btn-primary">Upload</button>

        </div>
        </form>

      </div>
    </div>
  </div>
</div>


<style>
  .cards-container {
    display: flex;
    padding: 50px 50px 0 50px;
    justify-content: space-between;
  }

  .card.text-white.bg-secondary.mb-3 {
    margin-right: 10px;

  }

  .card.text-white.bg-success.mb-3 {
    margin: 0 15px;
  }

  .card.text-white.bg-danger.mb-3 {
    margin: 0 15px;
  }

  .card.text-dark.bg-warning.mb-3 {
    margin-left: 15px;
  }

  .table {
    margin-top: 10px;
  }

  [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  }

  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
  integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      items: [
        { message: 'Foo.pdf', key: 0 },
        { message: 'Foo.pdf', key: 1 },
        { message: 'Foo.pdf', key: 2 },
        { message: 'Foo.pdf', key: 3 },
        { message: 'Foo.pdf', key: 4 },
        { message: 'Bar.pdf', key: 5 },
        { message: 'Bar.pdf', key: 6 },
        { message: 'Bar.pdf', key: 7 },
        { message: 'Bar.pdf', key: 8 },
        { message: 'Bar.pdf', key: 9 },
      ],
      toggle: false,
      selected: false,
    },
    methods: {
      testVue: function () {
        this.$http.get('/admin').then(response => {
          this.test = response.data.data.test
          console.log(response.data.data)
        })
      },
      selectFile(key) {
        console.log(key)
      }
    },
    mounted() {
      this.testVue()
    },
  }
  )
</script>

{% endblock %}