{% extends "dash-block.html" %}
{% block content %}
<div id="app">
  <div class="cards-container">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; width: 100%;">
      <div class="card-header">Info</div>
      <div class="card-body">
        <h5 class="card-title">Files Uploaded</h5>
        <p class="card-text big-number-text">[[number_of_files]]</p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem; width: 100%;">
      <div class="card-header">Success</div>
      <div class="card-body">
        <h5 class="card-title">Finished</h5>
        <p class="card-text big-number-text">[[number_of_files_uploaded]]</p>
      </div>
    </div>
    <div class="card text-dark bg-warning mb-3 " style="max-width: 18rem; width: 100%;">
      <div class="card-header">Warning</div>
      <div class="card-body">
        <h5 class="card-title">Pending</h5>
        <p class="card-text big-number-text">[[number_of_files_nearing_Deadline]]</p>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem; width: 100%;">
      <div class="card-header">Failed</div>
      <div class="card-body">
        <h5 class="card-title">Failed Deadline</h5>
        <p class="card-text big-number-text">[[number_of_files_deadline]]</p>
      </div>
    </div>
  </div>
  <div>
    <div class="container px-4 info-container">
      <div class="row gx-5 info">
        <div class="col ">
          <div class="p-4 border bg-light">
            <h3 class="wbtn">Recent Files</h3>
            <button type="button " class="btn btn-primary float-right"><a href="{{url_for('myFiles')}}"><i
                  class="fas fa-folder-open"></i>VIEW FILES</a></button>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">File Name</th>
                  <th scope="col">Date Uploaded</th>
                  <th scope="col">Deadline</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for='files in five_files' v-if='files[12] !=4'>
                  <td class="elipses">[[ files[1] ]]</td>
                  <td class="elipses">[[ changeDate(files[10]) ]]</td>
                  <td class="elipses">[[ changeDate(files[8]) ]]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col ">
          <div class="p-4 border bg-light">
            <h3 class="wbtn">Files Near Deadlines</h3>
            <button type="button " class="btn btn-primary float-right"><a href="{{url_for('myFiles')}}"><i class="fas fa-folder-open"></i>VIEW FILES</a></button>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">File Name</th>
                  <th scope="col">Date Uploaded</th>
                  <th scope="col">Deadline</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for='files in five_files' v-if='files[12] !=4'>
                  <td class="elipses">[[ files[1] ]]</td>
                  <td class="elipses">[[ changeDate(files[10]) ]]</td>
                  <td class="elipses">[[ changeDate(files[8]) ]]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
      </div>
    </div>
  </div>


</div>


<style>
  .cards-container {
    display: flex;
    padding: 50px 50px 0 50px;
    justify-content: space-between;
  }

  .card.text-white.bg-secondary.mb-3 {
    margin-right: 10px;

  }

  .card.text-white.bg-success.mb-3 {
    margin: 0 15px;
  }

  .card.text-white.bg-danger.mb-3 {
    margin: 0 15px;
  }

  .card.text-dark.bg-warning.mb-3 {
    margin-left: 15px;
  }

  .table {
    margin-top: 10px;
  }

  [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  }

  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  #app>div:nth-child(2)>div>div>div:nth-child(1)>div,
  #app>div:nth-child(2)>div>div>div:nth-child(2)>div {
    min-height: 500px;
    margin-bottom: 50px
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
  integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      number_of_files: 0,
      number_of_files_uploaded: 0,
      number_of_files_deadline: 0,
      number_of_files_nearing_Deadline: 0,
      five_files: []
    },
    methods: {
      testVue: function () {
        this.$http.get('/test').then(response => {
          console.log(response)
          this.number_of_files = response.body['number_of_files'].length
          this.number_of_files_uploaded = response.body['number_of_files_passed'].length
          this.number_of_files_deadline = response.body['number_of_files_deadline'].length
          this.number_of_files_nearing_Deadline = response.body['number_of_files_nearing_Deadline'].length
          this.five_files = response.body['five_files']
        })
      },
      selectFile(key) {
        console.log(key)
      },

      changeDate(date) {
        console.log(date)
        if (!date) {
          return ''
        }
        date = date.slice(0, 26)
        return date
      }
    },
    mounted() {
      this.testVue()
    },
  }
  )
</script>

{% endblock %}