{% extends "dash-block.html" %}
{% block content %}
<div class='file-container'>
    <div class="file-side">
        {% if "image/jpeg" in result[4] or "image/png" in result[4] %}
        <img class="file-image" src="{{url_for('static', filename='uploads/'+result[1])}}" />
        {% elif "application/pdf" in result[4] %}
        <iframe src="{{url_for('static', filename='uploads/'+result[1])}}#zoom=100"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% elif "application/vnd.openxmlformats-officedocument.presentationml.presentation" in result[4] %}
        <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=http://weconnect.pythonanywhere.com{{url_for('static', filename='uploads/'+result[1])}}"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% elif "application/vnd.openxmlformats-officedocument.wordprocessingml.document" in result[4] %}
        <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=http://weconnect.pythonanywhere.com{{url_for('static', filename='uploads/'+result[1])}}"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% elif "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" in result[4] %}
        <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=http://weconnect.pythonanywhere.com{{url_for('static', filename='uploads/'+result[1])}}"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% else %}
        <h3>No Preview</h3>
        {% endif %}


    </div>
    <div class="file-info-side">
        <div>

        </div>
        <h3>File Details</h3>
        <a href="{{url_for('static', filename='uploads/'+result[1])}}" download><button type="button"
                class="btn btn-primary"><i class="fas fa-download"></i>DOWNLOAD</button></a>

        <table class="table ">
            <tbody>
                <tr>
                    <td><strong>Filename:</strong></td>
                    <td>{{result[1]}}</td>
                </tr>
                <tr>
                    <td><Strong>File Type:</Strong></td>
                    <td>{{result[2]}}</td>
                </tr>
                <tr>
                    <td><strong>File Content Type:</strong></td>
                    <td>{{result[4]}}</td>
                </tr>
                <tr>
                    <td><strong>Uploaded By Id:</strong></td>
                    <td>{{result[5]}}</td>
                </tr>
                <tr>
                    <td><strong>Share to User:</strong></td>
                    <td>{{result[6]}}</td>
                </tr>
                <tr>
                    <td><strong>Share to Group:</strong> </td>
                    <td>{{result[7]}}</td>
                </tr>
                <tr>
                    <td><strong>Deadline:</strong> </td>
                    <td>{{result[8]}}</td>
                </tr>
                <tr>
                    <td><strong>Revision:</strong> </td>
                    <td>{{result[9]}}</td>
                </tr>
                <tr>
                    <td><strong>Date Upload:</strong> </td>
                    <td>{{result[10]}}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{'/thrash/' + result[0]|string}}" onclick="return confirm('Are you sure?')"><button type="button"
                class="btn btn-danger"><i class="fas fa-trash"></i>TRASH</button></a>
        {% if (1 == result[13]) %}
        <a href="{{'/pin/' + result[0]|string + '/0'}}" onclick="return confirm('Are you sure?')"><button type="button"
                class="btn btn-info" style="margin-right: 30px;"><i class="fas fa-thumbtack"></i> UNPIN</button></a>
        {% else %}
        <a href="{{'/pin/' + result[0]|string + '/1'}}" onclick="return confirm('Are you sure?')"><button type="button"
                class="btn btn-info" style="margin-right: 30px;"><i class="fas fa-thumbtack"></i> PIN</button></a>
        {% endif %}
    </div>
</div>

<style>
    td {
        max-width: 50%;
        width: 100%;
        word-break: break-word;
    }

    .file-side h3 {
        word-break: break-word;
        max-width: 25vw;
    }
</style>
{% endblock %}