{% extends "dash-block.html" %}
{% block content %}
<div class='file-container' id='app'>
    <div class="file-side">
        {% if "image/jpeg" in result[4] or "image/png" in result[4] %}
        <img class="file-image" src="{{url_for('static', filename='uploads/'+result[15])}}" />
        {% elif "application/pdf" in result[4] %}
        <iframe src="{{url_for('static', filename='uploads/'+result[15])}}#zoom=100"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% elif "application/vnd.openxmlformats-officedocument.presentationml.presentation" in result[4] %}
        <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=http://weconnect.pythonanywhere.com{{url_for('static', filename='uploads/'+result[15])}}"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% elif "application/vnd.openxmlformats-officedocument.wordprocessingml.document" in result[4] %}
        <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=http://weconnect.pythonanywhere.com{{url_for('static', filename='uploads/'+result[15])}}"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% elif "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" in result[4] %}
        <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src=http://weconnect.pythonanywhere.com{{url_for('static', filename='uploads/'+result[15])}}"
            style="width: 100%;height: 100%;border: none;"></iframe>
        {% else %}
        <h3>No Preview</h3>
        {% endif %}


    </div>
    <div class="file-info-side">
        <div>

        </div>
        <h3>File Details</h3>
        <a href="{{url_for('static', filename='uploads/'+result[15])}}" download><button type="button"
                class="btn btn-primary"><i class="fas fa-download"></i>DOWNLOAD</button></a>

        <table class="table ">
            <tbody>
                <tr>
                    <td><strong>Filename:</strong></td>
                    <td>{{result[1]}}</td>
                </tr>
                <tr>
                    <td><Strong>File Type:</Strong></td>
                    <td>{{result[4]}}</td>
                </tr>
                <tr>
                    <td><strong>Uploaded By Id:</strong></td>
                    <td>{{result[5]}}</td>
                </tr>
                <tr>
                    <td><strong>Share to User:</strong></td>
                    <td>{{result[6]}}</td>
                </tr>
                <tr>
                    <td><strong>Deadline:</strong> </td>
                    <td>{{result[8]}}</td>
                </tr>
                <tr>
                    <td><strong>Revision:</strong> </td>
                    <td>{{result[9]}}</td>
                </tr>
                <tr>
                    <td><strong>Date Upload:</strong> </td>
                    <td>{{result[10]}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="{{'/thrash/' + result[0]|string}}" onclick="return confirm('Are you sure?')"><button type="button"
                    class="btn btn-danger"><i class="fas fa-trash"></i>TRASH</button></a>
            {% if (1 == result[13]) %}
            <a href="{{'/pin/' + result[0]|string + '/0'}}" onclick="return confirm('Are you sure?')"><button
                    type="button" class="btn btn-info" style="margin-right: 30px;"><i class="fas fa-thumbtack"></i>
                    UNPIN</button></a>
            {% else %}
            <a href="{{'/pin/' + result[0]|string + '/1'}}" onclick="return confirm('Are you sure?')"><button
                    type="button" class="btn btn-info" style="margin-right: 30px;"><i class="fas fa-thumbtack"></i>
                    PIN</button></a>
            {% endif %}
        </div>
        <br>
        <div style="margin-top: 30px;">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Type Comment Here"
                     v-model='comment'></textarea>
                <button type="button" class="btn btn-primary comment-button" v-on:click="onEnter( {{ session['userID'] }}, {{ result[0] }} )"><i class="fas fa-share"></i>Comment</button>
            </div>
            <br>
            <div class="comments-list">
                <div class="media">
                    <div v-for='(comment, index) in commentsArray'>
                        <p class="pull-right"><small>[[ getDateString(comment[3]) ]]</small></p>
                        <div class="media-body">
                            <h4 class="media-heading user_name" v-for='user in users' v-if='user[0] === comment[2]'>[[
                                user[3] ]] [[ user[4] ]]</h4>
                            <p>[[ comment[4] ]]</p>

                            <p class="delete-link" v-if="sessionID == comment[2]"
                                v-on:click='deleteComment(comment[0])'>Delete</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</div>

<style>
    td {
        max-width: 50%;
        width: 100%;
        word-break: break-word;
    }

    .file-side h3 {
        word-break: break-word;
        max-width: 25vw;
    }

    .user_name {
        font-size: 14px;
        font-weight: bold;
    }

    .comments-list {
        margin-top: 20px;
    }

    p.pull-right {
        margin: 15px 0 0 0;
    }

    .media-body {
        padding: 10px;
        background: white;
        border-radius: 10px;
    }

    .media-body p {
        margin: 0;
    }

    .delete-link {
        padding-top: 8px;
        font-size: 12px;
        color: #0000EE !important;
        cursor: pointer;
    }
    .comment-button{
        margin-top: 10px;
    }
    .fa-share{
        margin-right: 5px;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
    integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            taskID: 0,
            comment: '',
            commentsArray: [],
            arrayName: [],
            sessionID: 0,
            users: []
        },
        methods: {
            onEnter(userID, fileID) {
                if (this.comment.length == 1) {
                    this.comment = ''
                    return
                }
                this.$http.get(`/comment/new/${userID}/${fileID}/${this.comment}`).then(response => {
                    this.getComments("{{ result[0] }}")
                    this.comment = ''
                }).catch((e) => console.log(e))
            },
            getComments(id) {
                this.$http.get(`/comments/${id}`).then(response => {
                    this.commentsArray = response.data.data
                    // let arrayUser = []
                    // let users = response.data.data
                    // for (user in users){
                    //     this.$http.get(`/getUserDetails/${users[user][2]}`).then(response => {
                    //         result = response.json()
                    //         arrayUser.push(response.body.userData[0][1])
                    //     })
                    // } 
                    // console.log(arrayUser)
                    // this.arrayName = arrayUser
                }).catch((e) => console.log(e))
            },
            getTeachers() {
                this.$http.get(`/getTeachers/`).then(response => {
                    this.users = response.data.users
                }).catch((e) => console.log(e))

            },
            deleteComment(commentID) {
                this.$http.get(`/comment/delete/${commentID}`).then(response => {
                    this.getComments("{{ result[0] }}")

                }).catch((e) => console.log(e))
            },
            getSessionID(id) {
                this.sessionID = id
            },
            getDateString(dateValue) {
                var d = new Date(dateValue * 1000);
                d = d.toDateString()
                d = d.slice(0, 26)
                return d

            }

        },
        created() {
            this.getComments("{{ result[0] }}")
            this.getSessionID("{{ session['userID'] }}")
            this.getTeachers()


        }


    }
    )
</script>
{% endblock %}