<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='styles/login/styles.css' ) }}>
    <title>Document</title>
</head>

<body>
    <script src={{url_for('static', filename='/js/login/pages.js' )}}></script>
    <div class="bg-img">
        <div class="content">
            <header>Forgot Password</header>
            <form action="#">
                <div class="field">
                    <span class="fa fa-user"></span>
                    <input type="text" required placeholder="Email">
                </div>
                <br>
                <div class="field">
                    <input type="submit" value="SEND">
                </div>
            </form>
            <br>
            <div class="signup">Already have an account?
                <a href={{url_for('login')}}>Sign-in Now</a>
            </div>
        </div>
    </div>
</body>