{% extends "dash-block.html" %}
{% block content %}
<div id="app">
    <div class="file-container">
        <div class="upload-button-container">
            <button><i class="fas fa-cloud-upload-alt"></i>Send File</button>
        </div>
    </div>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Owner</th>
                <th>Modify File</th>
            </tr>
        </thead>
        <tbody>

            {% for dict_item in items %}
            <tr>
                <td class="organisationname">{{dict_item["message"]}}</td>
                <td>Date</td>
                <td>Owner</td>
                <td class="actions">
                    <a href="?" class="edit-item" title="Edit">Edit</a>
                    <a href="?" class="remove-item" title="Remove">Remove</a>
                </td>
            </tr>
            {% endfor %}



        </tbody>
    </table>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
    integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            items: [
                { message: 'Foo.pdf', key: 0 },
                { message: 'Foo.pdf', key: 1 },
                { message: 'Foo.pdf', key: 2 },
                { message: 'Foo.pdf', key: 3 },
                { message: 'Foo.pdf', key: 4 },
                { message: 'Bar.pdf', key: 5 },
                { message: 'Bar.pdf', key: 6 },
                { message: 'Bar.pdf', key: 7 },
                { message: 'Bar.pdf', key: 8 },
                { message: 'Bar.pdf', key: 9 },
            ],
            toggle: false,
            selected: false,
        },
        methods: {
            testVue: function () {
                this.$http.get('/admin').then(response => {
                    this.test = response.data.data.test
                    console.log(response.data.data)
                })
            },
            selectFile(key) {
                console.log(key)
            }
        },
        mounted() {
            this.testVue()
        },
    }
    )
</script>

{% endblock %}