<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='styles/login/styles.css' ) }}>
    <title>Document</title>
</head>

<body>
    <script src={{url_for('static', filename='/js/login/pages.js' )}}></script>
    <div class="bg-img">
        <div class="content">
            <header>
                <div class='logo-container'></div>WeConnect
            </header>
            <form action="POST">
                {{form.hidden_tag() }}
                <div class="field">
                    {{form.email}}
                </div>
                <div class="field space">
                    {{form.password}}
                    <span class="show">SHOW</span>
                </div>
                <br>
                <div class="field field-button">
                    {{form.submit}}
                </div>
            </form>
            <div class="pass">
                <a href={{url_for('forgotpassword')}}>Forgot Password?</a>
            </div>
            <br>

        </div>
    </div>
</body>