{% extends "dash-block.html" %}
{% block content %}
<div id="app">
    <div id='pinned-content'>
        <div class="heading-container">
            <h5 style='margin-right: 20px; display: inline-block;'>Suggestions</h5>
            <button type="button" class="btn btn-primary btn-add float-right" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                Upload New File
            </button>
            <button type="button" class="btn btn-primary btn-add float-right" data-bs-toggle="modal"
                data-bs-target="#exampleModal2">
                Create a Block Text File
            </button>
        </div>
        <div class='suggestion-cards-container row row-cols-1 row-cols-md-5 g-4'>
            <div class="col" v-for='suggestion in suggestions' v-if='suggestion[12] !==4'>
                <a :href="'/file/' + suggestion[0] ">
                    <div class="card h-100" v-if='suggestion[4] === "image/jpeg" || suggestion[4] === "image/png" '>
                        <img :src="'/static/uploads/' + suggestion[1] " class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>
                    <div class="card h-100" v-else-if='suggestion[4] === "test"'>
                        <div class="image-container">
                            <img src="https://play-lh.googleusercontent.com/emmbClh_hm0WpWZqJ0X59B8Pz1mKoB9HVLkYMktxhGE6_-30SdGoa-BmYW73RJ8MGZQ"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>
                    <div class="card h-100" v-else-if='suggestion[4] === "application/pdf"'>
                        <div class="image-container">
                            <img src="https://cdn0.iconfinder.com/data/icons/flat-documents-and-folders/512/File_PDF-512.png"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>
                    <div class="card h-100"
                        v-else-if='suggestion[4] === "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"'>
                        <div class="image-container">
                            <img src="https://edmond.mpdl.mpg.de/imeji/file/10/12/3b/f5-7fde-4192-ba85-91cd601570c6/0/full/42eeccc13e310dc935368b6063f27e89.jpg?filename=full_data%20cuticle%20and%20symbiont%20titer%20measurements.jpg"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>
                    <div class="card h-100"
                        v-else-if='suggestion[4] === "application/vnd.openxmlformats-officedocument.wordprocessingml.document"'>
                        <div class="image-container">
                            <img src="https://i2.wp.com/www.softwarert.com/wp-content/uploads/word-2013-icon.png?fit=256%2C253&ssl=1"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>
                    <div class="card h-100"
                        v-else-if='suggestion[4] === "application/vnd.openxmlformats-officedocument.presentationml.presentation"'>
                        <div class="image-container">
                            <img src="https://www.perkinselearning.org/sites/elearning.perkinsdev1.org/files/styles/scale_only_519x374/public/powerpoint.png?itok=mhvG8h5M"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>
                    <div class="card h-100" v-else>
                        <div class="image-container">
                            <img src="https://www.insticc.org/node/TechnicalProgram/56e7352809eb881d8c5546a9bbf8406e.png"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">[[ suggestion[1] ]]</h6>
                        </div>
                    </div>

                </a>

            </div>

        </div>
        <div class="files-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Filename</th>
                        <th scope='col'>Deadline</th>
                        <th scope='col'>Uploaded Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='data in allData' v-if='data[12] !=4'>
                        <th scope="row" class="elipses">[[ data[1] ]]</th>
                        <td>[[ changeDate(data[8]) ]]</td>
                        <td>[[ changeDate(data[10]) ]]</td>
                        <td><a :href="'/file/' + data[0] ">View</a></td>
                        <!-- <td><span @click='moveToThrash(data[0])' style="cursor: pointer;">Move to Thrash</span></td> -->
                        <!-- <td><a :href="'/thrash/' + data[0] ">Thrash</a></td> -->
                        <td><a :href="'/thrash/' + data[0] " onclick="return confirm('Are you sure?')">Move to Trash</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload a new File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/uploadfile" method='POST' enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="file" class="form-label">File</label>
                            <input type="file" class="form-control" name="file" id="file" aria-describedby="file"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="Position" class="form-label">Share to Group</label>
                            <select name="Position" class="form-select" aria-label="Default select example"
                                id="Position">
                                {% for position in positions %}
                                <option value={{position[0]}}>{{position[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="targetUser" class="form-label">Share to</label>
                            <input type="text" class="form-control" id="targetUser" name="targetUser" required>
                            <small id="emailHelp" class="form-text text-muted">Use email Address to tag the user
                                seperate with comma(,)</small>
                        </div>
                        <div class="mb-3">
                            <label for="Deadline" class="form-label">Deadline</label>
                            <input type="date" class="form-control" name="Deadline" id="Deadline" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn btn-primary">Add new File</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a Block Text File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/uploadfile" method='POST' enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="file" class="form-label">File Name</label>
                            <input type="text" class="form-control" name="filename" id="    " aria-describedby="file"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="Position" class="form-label">Share to Group</label>
                            <select name="Position" class="form-select" aria-label="Default select example"
                                id="Position">
                                {% for position in positions %}
                                <option value={{position[0]}}>{{position[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="targetUser" class="form-label">Share to</label>
                            <input type="text" class="form-control" id="targetUser" name="targetUser" required>
                            <small id="emailHelp" class="form-text text-muted">Use email Address to tag the user
                                seperate with comma(,)</small>
                        </div>
                        <div class="mb-3">
                            <label for="Deadline" class="form-label">Deadline</label>
                            <input type="date" class="form-control" name="Deadline" id="Deadline" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn btn-primary">Add new Block Document
                            Editor</button>

                    </div>
                </form>

            </div>
        </div>
    </div>



</div>
<style>
    .card {
        max-width: 300px;
    }

    .files-card-container {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
    }

    div#pinned-content {
        padding: 50px;
    }

    .suggestion-cards-container.row.row-cols-1.row-cols-md-6.g-4 {
        margin-bottom: 30px;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
    integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            suggestions: [],
            allData: []
        },
        methods: {
            testVue: function () {
                this.$http.get('/getmyfiles').then(response => {
                    console.log(response)
                    this.suggestions = response.body['six_files']
                    this.allData = response.body['getall']
                    console.log(this.allData)
                    console.log("Suggestions",this.suggestions)
                })
            },
            selectFile(key) {
                console.log(key)
            },
            changeDate(date) {
                console.log(date)
                if (!date) {
                    return ''
                }
                date = date.slice(0, 16)
                return date
            },
            moveToThrash(data) {
                if(confirm("Move the file to thrash?")){
                    Router.push
                }else{

                }
            }
        },
        mounted() {
            this.testVue()
        },
    }
    )
</script>
{% endblock %}