<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='styles/login/styles.css' ) }}>
    <title>Reset Password</title>
</head>

<body>
    <script src={{url_for('static', filename='/js/login/pages.js' )}}></script>
    <div class="bg-img">
        <div class="content">
            <header>Reset Password</header>
            <form action="/resetpassword/{{id}}/update" method="POST">
                <div class="field">
                    <input type="password" required placeholder="New Password" name="Email">
                </div>
                <br>
                <div class="field">
                    <input type="password" required placeholder="Repeat Password" name="Email">
                </div>
                <br>
                <div class="field field-button">
                    <input type="submit" value="SUBMIT">
                </div>
                {% if "Error" in result %}
                <div class=result>
                    <h3 class="Error">Password is not supported</h3>
                </div>
                {% endif %}
            </form>
            <br>
            <div class="signup">Already have an account?
                <a href={{url_for('login')}}>Sign-in Now</a>
            </div>
        </div>
    </div>
</body>
<style>
    .Error {
        padding-top: 10px;
        color: rgb(216, 88, 88);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    .Success {
        padding-top: 10px;
        color: rgb(63, 209, 82);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

</style>