{% extends "dash-block.html" %}
{% block content %}
<div id="app">
    <h1>{{title}}</h1>
    <h2>[[testvue]]</h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
    integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            test: '',
            testvue: 'VUE TESTING'
        },
        methods: {
            testVue: function () {
                this.$http.get('/test').then(response => {
                    this.test = response.data.data.test
                    console.log(response.data.data)
                })
            }
        },
        mounted() {
            this.testVue()
        },
    }
    )



</script>

{% endblock %}