{% extends "dash-block.html" %}
{% block content %}
<div id="app">
    <div class="users-container">
        <h3>Teachers</h3>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for user in users %}
                {% if user[6] == 4%}
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="{{user[8]}}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{user[3]}} {{user[4]}}</h5>
                            <p class="card-text">{{user[1]}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <h3>Grade Chairman</h3>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for user in users %}
                {% if user[6] == 3%}
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="{{user[8]}}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{user[3]}} {{user[4]}}</h5>
                            <p class="card-text">{{user[1]}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <h3>Principal</h3>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for user in users %}
                {% if user[6] == 5 %}
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="{{user[8]}}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{user[3]}} {{user[4]}}</h5>
                            <p class="card-text">{{user[1]}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <h3>District Supervisor</h3>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for user in users %}
                {% if user[6] == 2 %}
                <div class="col">
                    <div class="card h-100 text-center">
                        <img src="{{user[8]}}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{user[3]}} {{user[4]}}</h5>
                            <p class="card-text">{{user[1]}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"
    integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
        },
        methods: {
        },
        mounted() {
        },
    }
    )
</script>

{% endblock %}